<p-panel header="Classes">
  <div class="flex flex-col gap-4 h-full">
    <p-fieldset
      legend="Classification"
      *ngIf="projectService.isClassification"
      [toggleable]="true"
      class="m-0"
      [collapsed]="true"
    >
      <ng-container *ngFor="let task of labelsService.listClassificationTasks">
        <p-divider align="left" type="solid">
          <b>{{ task.taskName }}</b>
        </p-divider>
        <p-selectButton
          [options]="task.classLabels"
          [(ngModel)]="task.choice"
        ></p-selectButton>
      </ng-container>

      <ng-container *ngIf="labelsService.multiLabelTask !== null">
        <p-divider align="left" type="solid">
          <b>Multiple label</b>
        </p-divider>
        <p-select-button
          [options]="labelsService.multiLabelTask.taskLabels"
          [multiple]="true"
          [(ngModel)]="labelsService.multiLabelTask.choices"
        ></p-select-button>

        <ng-container
        *ngFor="
          let label of labelsService.multiLabelTask.choices;
          let i = index
        "
      >
        <p-tag severity="info" class="m-1" [rounded]="true">
          <span class="text-base">
            {{ label }}
          </span>

          <i
            class="hover:outline hover:outline-1 outline-white pi pi-times rounded-full"
            style="font-size: 0.75rem"
            (click)="removeChoiceFromMultilabel(label)"
          ></i>
         
        </p-tag>
      </ng-container>

      </ng-container>
    </p-fieldset>

    <p-fieldset
      legend="Pixel-level"
      [toggleable]="true"
      class="m-0"
      *ngIf="
        projectService.isSegmentation || projectService.isInstanceSegmentation
      "
    >
      <div class="flex flex-row gap-4 items-center">
        <p-button
          icon="pi pi-eye"
          (click)="changeAllVisibility()"
          [rounded]="true"
          *ngIf="labelsService.showAllLabels; else eyeClose"
        ></p-button>
        <ng-template #eyeClose>
          <p-button
            #eyeClose
            icon="pi pi-eye-slash"
            (click)="changeAllVisibility()"
            [rounded]="true"
          ></p-button>
        </ng-template>
        <p class="flex flex-col gap-2">
          <input
            type="text"
            pInputText
            [(ngModel)]="drawService.labelOpacity"
            (onChange)="updateOpacity()"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="drawService.labelOpacity"
            [min]="0"
            [max]="1"
            [step]="0.01"
            (onChange)="updateOpacity()"
          />
          <small>Opacity</small>
        </p>
      </div>
      <p-divider align="left" type="solid">
        <b>Labels</b>
      </p-divider>
      <p-tree
        #tree
        [value]="labelsService.getTreeNode()"
        (selectionChange)="changeActiveLabel($event)"
        selectionMode="single"
        class="p-0"
      >
        <ng-template let-node pTemplate="default" class="p-0 w-full">
          <div
            *ngIf="!hasChild(node)"
            class="flex flex-row gap-2 items-center justify-stretch w-full"
            [ngClass]="{ activeNode: node.data === labelsService.activeLabel }"
          >
            <p-button
              icon="pi pi-eye"
              (click)="changeVisibility(node)"
              [rounded]="true"
              *ngIf="node.data.isVisible; else eyeClose"
            ></p-button>
            <ng-template #eyeClose>
              <p-button
                #eyeClose
                icon="pi pi-eye-slash"
                (click)="changeVisibility(node)"
                [rounded]="true"
              ></p-button>
            </ng-template>

            <p-colorPicker
              *ngIf="!projectService.isInstanceSegmentation"
              [(ngModel)]="node.data.color"
              [appendTo]="colorPicker"
              (onChange)="changeColor()"
            />
            <b>
              {{ node.label }}
            </b>
            <p-button
              icon="pi pi-trash"
              class="smallButton"
              (click)="clearCanvas(node)"
              severity="danger"
            ></p-button>
          </div>
          <b *ngIf="hasChild(node)">
            {{ node.label }}
          </b>
          <div *ngIf="!hasChild(node) && projectService.isInstanceSegmentation">
            <app-instance-label [label]="node.data"></app-instance-label>
          </div>
        </ng-template>
      </p-tree>
    </p-fieldset>

    <p-fieldset
      legend="Text"
      *ngIf="projectService.hasTextDescription"
      [toggleable]="true"
      class="m-0"
      [collapsed]="true"
    >
      <ng-container *ngFor="let task of labelsService.listTextLabels">
        <p-divider align="left" type="solid">
          <b>{{ task.name }}</b>
        </p-divider>
        <textarea
          rows="5"
          cols="30"
          pTextarea
          [(ngModel)]="task.text"
        ></textarea>
      </ng-container>
    </p-fieldset>
  </div>
</p-panel>

<div #colorPicker class="aspect-auto w-12"></div>
