<p-panel header="Classes">
  <div class="gap-4 grid grid-cols-1 w-full">
    <!-- Classification -->
    <p-fieldset
      legend="Classification"
      *ngIf="projectService.isClassification()"
      [toggleable]="true"
      [collapsed]="true"
    >
      @for(task of labelsService.listClassificationTasks; track task.taskName;
      let i = $index){
      <ng-container>
        <p-divider align="left" type="solid">
          <b>{{ task.taskName }}</b>
        </p-divider>
        <p-selectButton
          [options]="task.classLabels"
          [ngModel]="classificationChoices[i]"
          (onOptionClick)="setMulticlassValue(i, $event.option)"
          size="small"
          styleClass="flex flex-wrap"
        ></p-selectButton>
      </ng-container>
      } @if(labelsService.multiLabelTask !== null){
      <p-divider align="left" type="solid">
        <b>{{ labelsService.multiLabelTask.taskName }}</b>
      </p-divider>
      <p-selectButton
        [options]="labelsService.multiLabelTask.taskLabels"
        [multiple]="true"
        [(ngModel)]="multilabelChoices"
        (ngModelChange)="onMultilabelChange()"
        size="small"
        styleClass="flex flex-wrap"
      ></p-selectButton>

      <div class="flex flex-wrap gap-1">
        @for(label of multilabelChoices; track label){
        <p-tag severity="info" class="m-1" [rounded]="true">
          <span class="text-base">{{ label }}</span>
          <i
            class="hover:outline hover:outline-1 outline-white pi pi-times rounded-full"
            style="font-size: 0.75rem"
            (click)="removeChoiceFromMultilabel(label)"
          ></i>
        </p-tag>
        }
      </div>
      }
    </p-fieldset>

    <!-- Segmentation (unchanged) -->
    @if( projectService.isSegmentation() ||
    projectService.isInstanceSegmentation()){

    <p-fieldset legend="Pixel-level" [toggleable]="true" class="m-0">
      <div class="flex flex-row gap-4 items-center">
        @if(labelsService.showAllLabels){
        <p-button
          icon="pi pi-eye"
          (click)="changeAllVisibility()"
          [rounded]="true"
          ariaLabel="Hide all labels"
        ></p-button>
        } @else {
        <p-button
          icon="pi pi-eye-slash"
          (click)="changeAllVisibility()"
          [rounded]="true"
          ariaLabel="Show all labels"
        ></p-button>
        }
        <p class="flex flex-col gap-2">
          <input
            type="text"
            pInputText
            [(ngModel)]="editorService.labelOpacity"
            (onChange)="updateOpacity()"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="editorService.labelOpacity"
            [min]="0"
            [max]="1"
            [step]="0.01"
            (onChange)="updateOpacity()"
          />
          <small>Opacity</small>
        </p>
      </div>
      <p-divider align="left" type="solid">
        <b>Labels</b>
      </p-divider>
      <p-tree
        #tree
        [value]="labelsService.getTreeNode()"
        (selectionChange)="changeActiveLabel($event)"
        selectionMode="single"
        class="p-0"
      >
        <ng-template let-node pTemplate="default" class="p-0 w-full">
          @if(!hasChild(node)){
          <div
            class="flex flex-row gap-2 items-center justify-stretch w-full"
            [ngClass]="{ activeNode: node.data === labelsService.activeLabel }"
          >
            @if(node.data.isVisible){
            <p-button
              icon="pi pi-eye"
              (click)="changeVisibility(node)"
              [rounded]="true"
              [ariaLabel]="'Hide ' + node.label"
            ></p-button>
            } @else{
            <p-button
              #eyeClose
              icon="pi pi-eye-slash"
              (click)="changeVisibility(node)"
              [rounded]="true"
              [ariaLabel]="'Show ' + node.label"
            ></p-button>
            } @if(!projectService.isInstanceSegmentation()){
            <p-colorPicker
              [(ngModel)]="node.data.color"
              [appendTo]="colorPicker"
              (onChange)="changeColor()"
              [attr.aria-label]="'Color for ' + node.label"
            />
            }
            <b>
              {{ node.label }}
            </b>
            <p-button
              icon="pi pi-trash"
              class="smallButton"
              (click)="clearCanvas(node)"
              severity="danger"
              [ariaLabel]="'Clear ' + node.label + ' annotation'"
            ></p-button>
          </div>
          } @if(hasChild(node)){
          <b>
            {{ node.label }}
          </b>
          } @if(!hasChild(node) && projectService.isInstanceSegmentation()){
          <div>
            <app-instance-label [label]="node.data"></app-instance-label>
          </div>
          }
        </ng-template>
      </p-tree>
    </p-fieldset>
    }
    <!-- Text Descriptions -->
    @if(projectService.isTextDescriptionEnabled()){
    <p-fieldset
      legend="Text"
      [toggleable]="true"
      class="m-0"
      [collapsed]="true"
    >
      @for(label of labelsService.listTextLabels; track label.name){
      <p-divider align="left" type="solid">
        <b>{{ label.name }}</b>
      </p-divider>
      <textarea
        rows="5"
        cols="30"
        pTextarea
        [(ngModel)]="label.content"
        (ngModelChange)="onTextChange(label)"
      ></textarea>
      }
    </p-fieldset>
    }
  </div>
</p-panel>

<div #colorPicker class="aspect-auto w-12"></div>
