<p-panel header="Advanced settings" class="w-96">
  <p-fieldset legend="Bounding box" [toggleable]="true" [collapsed]="true">
    <div class="gap-2 grid grid-cols-2 w-full">
      <app-labelled-switch
        [(checked)]="editorService.showBoundingBox"
        (checkedChange)="editorService.requestCanvasRedraw()"
        >Show bounding box</app-labelled-switch
      >
      <app-labelled-switch
        [(checked)]="editorService.labelledCombinedBoundingBox"
        (checkedChange)="editorService.requestCanvasRedraw()"
        >Combined labels</app-labelled-switch
      >

      <app-labelled-switch [(checked)]="editorService.eraseOnClick"
        >Click to erase</app-labelled-switch
      >
      @if(editorService.eraseOnClick &&
      editorService.labelledCombinedBoundingBox && !editorService.eraseAll) {
      <p-message severity="warn" class="w-48"
        >All labels within the bounding box will be erased, even though 'Erase
        all labels' is not checked. Uncheck 'Combined labels' to erase per
        labels.</p-message
      >
      }
    </div>
    <div class="mt-4">
      <p-slider
        [(ngModel)]="editorService.bbxOpacity"
        [min]="0"
        [max]="1"
        [step]="0.01"
      ></p-slider>
      <small class="block mt-4 text-center">Opacity</small>
    </div>
  </p-fieldset>

  <div class="h-full overflow-y-auto w-full">
    @if(projectService.isInstanceSegmentation){
    <p-fieldset legend="Instance Segmentation" [toggleable]="true">
      <p>
        <input
          type="text"
          pInputText
          [(ngModel)]="projectService.maxInstances"
          class="mb-3 w-full"
        />

        <p-slider
          [(ngModel)]="projectService.maxInstances"
          [min]="1"
          [max]="150"
          [step]="1"
        >
        </p-slider>
      </p>
      <app-labelled-switch [(checked)]="editorService.incrementAfterStroke">
        Increment after stroke
      </app-labelled-switch>
    </p-fieldset>
    } @if(editorService.useProcessing){
    <p-fieldset legend="Image processsing" [toggleable]="true">
      <div class="flex flex-wrap gap-2 justify-center">
        <app-labelled-switch
          [(checked)]="imageProcess.to_BW"
          (checkedChange)="imageProcess.refresh()"
          >Convert to grayscale</app-labelled-switch
        >
        <app-labelled-switch
          [(checked)]="imageProcess.stretchHist"
          (checkedChange)="imageProcess.refresh()"
          >Histogram stretching</app-labelled-switch
        >
        <app-labelled-switch
          [(checked)]="imageProcess.inverseColors"
          (checkedChange)="imageProcess.refresh()"
        >
          Inverse colors
        </app-labelled-switch>

        <div class="w-full">
          <p class="flex flex-col gap-2">
            <input
              type="number"
              pInputText
              (change)="imageProcess.refresh()"
              [(ngModel)]="imageProcess.brightness"
              class="mb-3 w-full"
            />
            <p-slider
              [(ngModel)]="imageProcess.brightness"
              (onChange)="imageProcess.refresh()"
              [min]="-255"
              [max]="255"
              [step]="1"
            />
            <small>Brightness</small>
          </p>

          <p class="flex flex-col gap-2">
            <input
              type="number"
              pInputText
              (change)="imageProcess.refresh()"
              [(ngModel)]="imageProcess.contrast"
              class="mb-3 w-full"
            />
            <p-slider
              [(ngModel)]="imageProcess.contrast"
              (onChange)="imageProcess.refresh()"
              [min]="0"
              [max]="5"
              [step]="0.1"
            />
            <small>Contrast</small>
          </p>

          <p class="flex flex-col gap-2">
            <input
              type="number"
              pInputText
              ((change))="imageProcess.refresh()"
              [(ngModel)]="imageProcess.gamma"
              class="mb-3 w-full"
            />
            <p-slider
              [(ngModel)]="imageProcess.gamma"
              (onChange)="imageProcess.refresh()"
              [min]="0.25"
              [max]="2"
              [step]="0.05"
            />
            <small>Gamma</small>
          </p>
        </div>

        <app-labelled-switch
          [(checked)]="imageProcess.use_medianBlur"
          (checkedChange)="imageProcess.refresh()"
          >Smooth</app-labelled-switch
        >

        <app-labelled-switch
          [(checked)]="imageProcess.reinforceEdges"
          (checkedChange)="imageProcess.refresh()"
          >Edge reinforcement</app-labelled-switch
        >
        @if(imageProcess.use_medianBlur){
        <p class="flex flex-col gap-2">
          <input
            type="number"
            pInputText
            [(ngModel)]="imageProcess.kernel_size"
            (change)="imageProcess.refresh()"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="imageProcess.kernel_size"
            [min]="1"
            [max]="15"
            [step]="2"
            (onChange)="imageProcess.refresh()"
          />
          <small>Kernel size</small>
        </p>
        } @if(imageProcess.reinforceEdges){
        <p class="flex flex-col gap-2">
          <input
            type="number"
            pInputText
            [(ngModel)]="imageProcess.edgeStrength"
            (change)="imageProcess.refresh()"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="imageProcess.edgeStrength"
            [min]="0"
            [max]="5"
            [step]="0.1"
            (onChange)="imageProcess.refresh()"
          />
          <small>Edge strength</small>
        </p>
        }
      </div>
    </p-fieldset>
    } @if(editorService.penPostProcess || editorService.eraserPostProcess){
    <p-fieldset legend="Auto-postprocessing" [toggleable]="true">
      <div class="flex flex-wrap gap-2 justify-center">
        @if(editorService.isDrawingTool()){
        <p-selectButton
          [options]="postProcessingOptions"
          [(ngModel)]="editorService.postProcessOption"
        ></p-selectButton>
        @switch (editorService.postProcessOption) { @case (ppOption.OTSU) {
        <small
          >Automatically snap to the extrema by thresholding the area covered by
          the brush stroke
        </small>
        <app-labelled-switch [(checked)]="editorService.useInverse"
          >Use inverse image</app-labelled-switch
        >
        <app-labelled-switch [(checked)]="editorService.autoPostProcessOpening"
          >Smooth</app-labelled-switch
        >
        @if(editorService.autoPostProcessOpening){
        <p>
          <input
            type="number"
            pInputText
            [(ngModel)]="editorService.morphoSize"
            class="mb-3 w-full"
          />

          <p-slider
            [(ngModel)]="editorService.morphoSize"
            [min]="1"
            [max]="15"
            [step]="2"
          />
        </p>
        }
        <app-labelled-switch [(checked)]="editorService.enforceConnectivity"
          >Force connectivity</app-labelled-switch
        >
        } @case(ppOption.MEDSAM){
        <small>
          Use MED-Sam has a post-processing step to auto-segment based on the
          current stroke indication.
        </small>
        <div>
          <input
            type="number"
            pInputText
            [(ngModel)]="editorService.samThreshold"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="editorService.samThreshold"
            [min]="0"
            [max]="1"
            [step]="0.01"
          />
        </div>
        } @case (ppOption.FLOODFILL){
        <small> Automatically fill on the last point clicked. </small>
        <div>
          <input
            type="number"
            pInputText
            [(ngModel)]="editorService.floodFillTolerance"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="editorService.floodFillTolerance"
            [min]="0.5"
            [max]="10.0"
            [step]="0.01"
          />
        </div>
        } } } @if(editorService.isEraser()){
        <div class="flex">
          <small>
            Automatically remove all connected pixels that were covered by the
            brush stroke</small
          >
        </div>
        }
      </div>
    </p-fieldset>
    }
  </div>
</p-panel>
