<div
  class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr] max-screen-available overflow-hidden rounded-lg w-full"
>
  <div
    [style.height.px]="rulerSize"
    [style.width.px]="rulerSize"
    class="bg-gray-950 invisible"
  ></div>
  <!-- Top ruler -->
  <div
    class="bg-gray-950 overflow-x-clip relative"
    [style.height.px]="rulerSize"
  >
    <p
      class="absolute text-gray viewBoxMarker w-fit"
      [style.left.px]="viewBox.xmin + canvasLeft"
    >
      0
    </p>

    <p
      class="absolute text-gray viewBoxMarker w-fit"
      [style.left.px]="cursor.x + canvasLeft"
    >
      {{ zoomPanService.currentPixel.x }}
    </p>

    <p
      class="absolute viewBoxMarker w-fit"
      [style.left.px]="viewBox.xmax + canvasLeft"
    >
      {{ orchestrator.width }}
    </p>
  </div>

  <!-- Left ruler -->
  <div class="bg-gray-950 relative" [style.width.px]="rulerSize">
    @if((viewBox.ymin) >= 0){
    <p
      class="absolute viewBoxMarkerHorizontal"
      [style.top.px]="viewBox.ymin - rulerSize"
    >
      0
    </p>
    } @if((cursor.y - rulerSize) > 0){
    <p
      class="absolute viewBoxMarkerHorizontal"
      [style.top.px]="cursor.y - rulerSize"
    >
      {{ zoomPanService.currentPixel.y }}
    </p>
    }
    <p
      class="absolute viewBoxMarkerHorizontal"
      [style.top.px]="viewBox.ymax - rulerSize"
    >
      {{ orchestrator.height }}
    </p>
  </div>

  <!-- Main canvas -->
  <div
    class="bg-gray-800 flex flex-grow relative w-full"
    [ngStyle]="{
        'aspect-ratio': orchestrator.width / orchestrator.height,
      }"
    [ngClass]="{
      relative: !isFullscreen,
      'fixed h-full max-w-full top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black box-shadow z-[2500]':
        isFullscreen
    }"
  >
    <div
      class="relative"
      #myCanvasContainer
      [style.width.px]="canvasWidth"
      [style.height.px]="canvasHeight"
    >
      <app-svgelements #svg>
      </app-svgelements>
      <canvas
        appCanvasInput
        #imageCanvas
        [style.width.px]="canvasWidth"
        [style.height.px]="canvasHeight"
        [ngStyle]="{
        'aspect-ratio': orchestrator.width / orchestrator.height,
      }"
        class="absolute crisp-edges cursor-crosshair"
        [ngClass]="{
          'cursor-grab': editorService.canPan(),
          'cursor-none': editorService.isToolWithBrushSize(),
          'cursor-crosshair': !(
            editorService.isToolWithBrushSize() || editorService.canPan()
          )
        }"
        (canvasMove)="onMouseMove($any($event))"
        (wheel)="wheel($event)"
      >
      </canvas>

      <canvas
        #labelCanvas
        [style.width.px]="canvasWidth"
        [style.height.px]="canvasHeight"
        class="absolute crisp-edges pointer-events-none"
        [style.opacity]="editorService.labelOpacity"
      ></canvas>
      @if(editorService.isToolWithBrushSize()){
      <div class="cursor" [ngStyle]="getCursorStyle()"></div>
      }
      <div
        class="absolute h-full skeleton w-full z-50"
        [ngClass]="{
          invisible: !viewService.isLoading,
          visible: viewService.isLoading
        }"
      ></div>
    </div>

    <p class="absolute flex items-center justify-start left-5 top-0">
      @if(!isFullscreen){
      <p-button
        pRipple
        [rounded]="true"
        [raised]="true"
        (click)="switchFullScreen()"
        icon="pi pi-window-maximize"
        severity="help"
      >
      </p-button>
      } @if(isFullscreen){
      <p-button
        pButton
        pRipple
        [rounded]="true"
        [raised]="true"
        (click)="switchFullScreen()"
        icon="pi pi-window-minimize"
        severity="help"
      >
      </p-button>
      }

      <p-button
        [rounded]="true"
        [raised]="true"
        (click)="zoomPanService.resetZoomAndPan(true, true)"
        icon="pi pi-refresh"
        severity="help"
      >
      </p-button>
    </p>
  </div>
</div>
