<svg #svg class="absolute min-w-[128px] pointer-events-none w-full z-50">
  <polygon
    class="lassoPolygon"
    [attr.points]="UIPoints"
    [attr.fill]="labelService.activeLabel?.color + '20'"
    [attr.stroke]="labelService.activeLabel?.color"
    [attr.stroke-width]="2"
  />

  <rect
    *ngFor="let rectLabel of bboxManager.listBbox"
    class="bbox"
    [ngClass]="{ 'cursor-pointer': isBboxClickable() }"

    [attr.x]="rectLabel.bbox.x"
    [attr.y]="rectLabel.bbox.y"
    [attr.width]="rectLabel.bbox.width"
    [attr.height]="rectLabel.bbox.height"
    [attr.fill]="rectLabel.label.color + getBboxOpacityAsString()"
    [attr.stroke]="rectLabel.label.color"
    [attr.stroke-width]="2"
    [attr.pointer-events]="this.isBboxClickable() ? 'fill' : 'none'"
    (mousedown)="boundingBoxClick($event, rectLabel)"
  ></rect>

  <path
    [attr.d]="svgUIService.getEraserPathasSVG()"
    class="eraserPath"
    stroke-linecap="round"
    fill="transparent"
    [attr.stroke-width]="editorService.lineWidth"
    [attr.stroke]="labelService.activeLabel?.color"
  />

  <path
    [attr.d]="svgUIService.getLinePathasSVG()"
    class="eraserPath"
    stroke-linecap="round"
    fill="transparent"
    [attr.stroke-width]="editorService.lineWidth"
    [attr.stroke]="labelService.activeLabel?.color"
  />
</svg>
