<p-toolbar class="py-0">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="center">
    <div
      class="align-items-center flex flex-wrap gap-2 items-center justify-center lg:gap-6"
    >
      <p-selectButton
        [options]="tools"
        [(ngModel)]="editorService.selectedTool"
        optionLabel="name"
      >
        <ng-template #item let-item>
          <span
            pTooltip="{{ item.shortcut }}"
            tooltipPosition="bottom"
            [autoHide]="false"
            class="flex gap-2 items-center"
          >
            <i [class]="item.icon"> </i>
            <div class="hidden lg:block">{{ item.name }}</div>
          </span>
        </ng-template>
      </p-selectButton>

      <!-- Vector tools: a distinct class of tool (SVG shapes, not raster). -->
      <div class="flex gap-2 items-center vector-tool-group">
        <span class="opacity-60 vector-tool-group__label">Vector</span>
        <p-selectButton
          [options]="vectorTools"
          [(ngModel)]="editorService.selectedTool"
          optionLabel="name"
        >
          <ng-template #item let-item>
            <span
              pTooltip="{{ item.shortcut }}"
              tooltipPosition="bottom"
              [autoHide]="false"
              class="flex gap-2 items-center"
            >
              <i [class]="item.icon"> </i>
              <div class="hidden lg:block">{{ item.name }}</div>
            </span>
          </ng-template>
        </p-selectButton>
      </div>

      @if (editorService.isToolWithBrushSize()) {
        <div class="flex flex-col" style="min-width: 9rem">
          <input
            type="text"
            pInputText
            [(ngModel)]="editorService.lineWidth"
            class="mb-3 w-full"
          />
          <p-slider
            [(ngModel)]="brushSizeSlider"
            class="w-full"
            pTooltip="Ctrl+Wheel"
            [min]="0"
            [max]="1000"
          />
        </div>
      }

      @if (editorService.isDrawingTool()) {
        <app-labelled-switch [(checked)]="editorService.swapMarkers">
          Swap existing labels</app-labelled-switch
        >
      }

      @if (editorService.isEraser()) {
        <app-labelled-switch [(checked)]="editorService.eraseAll">
          Erase all labels</app-labelled-switch
        >
      }

      @if (editorService.isEraser()) {
        <app-labelled-switch [(checked)]="editorService.eraserPostProcess">
          Post-process erasing</app-labelled-switch
        >
      }
    </div>
  </ng-template>
  <ng-template pTemplate="end"> </ng-template>
</p-toolbar>
