<p-toolbar class="py-0">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="center">
    <div
      class="align-items-center flex flex-wrap gap-2 items-center justify-center lg:gap-6"
    >
      <p-selectButton
        [options]="tools"
        [(ngModel)]="editorService.selectedTool"
        optionLabel="name"
      >
        <ng-template #item let-item>
          <span
            pTooltip="{{ item.shortcut }}"
            tooltipPosition="bottom"
            [autoHide]="false"
            class="flex gap-2 items-center"
          >
            <i [class]="item.icon"> </i>
            <div class="hidden lg:block">{{ item.name }}</div>
          </span>
        </ng-template>
      </p-selectButton>

      <p-block-ui
        [target]="linewidth"
        [blocked]="!editorService.isToolWithBrushSize()"
      />
      <blockable-p #linewidth>
        <input
          type="text"
          pInputText
          [(ngModel)]="editorService.lineWidth"
          class="mb-3 w-full"
        />
        <p-slider
          [(ngModel)]="editorService.lineWidth"
          class="w-full"
          pTooltip="Ctrl+Wheel"
          [max]="1024"
        />
      </blockable-p>

      <p-block-ui
        [target]="swapToggle"
        [blocked]="!editorService.isDrawingTool()"
      />
      <app-labelled-switch #swapToggle [(checked)]="editorService.swapMarkers">
        Swap existing markers</app-labelled-switch
      >

      <p-block-ui
        [target]="eraseAllToggle"
        [blocked]="!editorService.isEraser()"
      />
      <app-labelled-switch #eraseAllToggle [(checked)]="editorService.eraseAll">
        Erase all labels</app-labelled-switch
      >

      <app-labelled-switch
        [(checked)]="editorService.edgesOnly"
        (checkedChange)="editorService.requestCanvasRedraw()"
        [tooltipLabel]="'Ctrl+E'"
      >
        Show only edges</app-labelled-switch
      >

      <button
        pButton
        pRipple
        icon="pi pi-undo"
        (onClick)="editorService.requestUndo()"
        pTooltip="Ctrl+Z"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-refresh"
        (onClick)="editorService.requestRedo()"
        pTooltip="Ctrl+Y"
      ></button>
      <app-labelled-switch
        [(checked)]="editorService.useProcessing"
        (checkedChange)="editorService.requestCanvasRedraw()"
        [tooltipLabel]="'Q'"
      >
        Image processing</app-labelled-switch
      >
      <app-labelled-switch
        [(checked)]="editorService.penPostProcess"
        *ngIf="editorService.isDrawingTool()"
        [tooltipLabel]="'D'"
      >
        Post-process drawing</app-labelled-switch
      >
      <app-labelled-switch
        [(checked)]="editorService.eraserPostProcess"
        *ngIf="editorService.isEraser()"
      >
        Post-process erasing</app-labelled-switch
      >
    </div>
  </ng-template>
  <ng-template pTemplate="end"> </ng-template>
</p-toolbar>
