
<div class="gap-4 grid grid-cols-3 my-14">
  <p-panel
    header="Load recent"
    class="flex flex-col items-stretch"
    *ngIf="projectService.localStoragesProjectsFilepaths.length > 0"
  >
    <p-table
      [value]="projectService.localStoragesProjectsFilepaths"
      [tableStyle]="{ 'max-width': '25rem' }"
    >
      <ng-template #header>
        <tr>
          <th>Project Name</th>
          <th style="width: 100px">Filepath</th>
          <th>Load</th>
          <th>Clear history</th>
        </tr>
      </ng-template>
      <ng-template #body let-rows>
        <tr class="table-row">
          <td
            (click)="loadProjectFromFilepath(rows.root, false)"
            (dblclick)="loadProjectFromFilepath(rows.root, true)"
          >
            {{ rows.project_name }}
          </td>
          <td
            class="long-row-cut"
            (click)="loadProjectFromFilepath(rows.root, false)"
            (dblclick)="loadProjectFromFilepath(rows.root, true)"
          >
            {{ rows.root }}
          </td>
          <td>
            <p-button
              icon="pi pi-folder-open"
              [rounded]="true"
              [text]="true"
              severity="success"
              (click)="loadProjectFromFilepath(rows.root, true)"
            />
          </td>

          <td>
            <p-button
              icon="pi pi-times"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="removeProjectFromFilepath(rows.root)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>

  <div class="flex flex-col gap-8 items-stretch">
    <p-panel header="Project Configuration" class="flex flex-col items-stretch">
      <div class="flex flex-col items-stretch">
        <p-button class="m-auto" (click)="findAndLoadProjectFile()"
          >Load from disk</p-button
        >
        <p-divider align="left" type="solid"
          ><b>Configure project</b></p-divider
        >
        <div class="flex flex-col flex-column gap-8 items-center">
          <p-floatLabel>
            <input
              pInputText
              [class]="{ 'ng-invalid ng-dirty': !isNameValid }"
              id="projectName"
              aria-describedby="projectName-help"
              [(ngModel)]="projectService.projectName"
            />
            <label for="projectName">Project name</label>
          </p-floatLabel>
          <div class="flex flex-wrap gap-8 items-center">
            <app-labelled-switch [(checked)]="projectService.isClassification"
              >Classification</app-labelled-switch
            >
            <app-labelled-switch [(checked)]="projectService.isSegmentation"
              >Segmentation</app-labelled-switch
            >
            <app-labelled-switch
              [(checked)]="projectService.isInstanceSegmentation"
              >Instance segmentation</app-labelled-switch
            >
            <app-labelled-switch
              [(checked)]="projectService.isBoundingBoxDetection"
              >Bounding box</app-labelled-switch
            >

            <app-labelled-switch [(checked)]="projectService.hasTextDescription"
              >Text description</app-labelled-switch
            >
          </div>
        </div>
        <p-fieldset
          *ngIf="projectService.isClassification"
          legend="Classification configuration"
          [toggleable]="true"
          [collapsed]="true"
        >
          <app-classification-configuration></app-classification-configuration>
        </p-fieldset>

        <p-fieldset
          *ngIf="
            projectService.isSegmentation ||
            projectService.isInstanceSegmentation ||
            projectService.isBoundingBoxDetection
          "
          legend="Pixel-level configuration"
          [toggleable]="true"
          [collapsed]="true"
        >
          <app-pixels-configuration></app-pixels-configuration>
        </p-fieldset>

        <p-fieldset
          *ngIf="projectService.hasTextDescription"
          legend="Text description"
          [toggleable]="true"
          [collapsed]="true"
        >
          <app-text-configuration></app-text-configuration>
        </p-fieldset>
      </div>
    </p-panel>
    <p-panel header="Input/Output" class="flex flex-col items-stretch">
      <div>
        <p-fieldset legend="Input" [toggleable]="true">
          <div class="flex flex-row flex-wrap gap-8 justify-center mt-4">
            <p-floatLabel>
              <input
                pInputText
                id="inputPath"
                aria-describedby="inputPath-help"
                [(ngModel)]="projectService.inputFolder"
                [class]="{ 'ng-invalid ng-dirty': !isInputValid }"
              />
              <label for="inputPath">Input path</label>
            </p-floatLabel>

            <p-button (click)="openInputFolder()">Choose folder</p-button>

            <div class="flex flex-col gap-2 items-center">
              <p-toggleswitch
                id="recursiveLoad"
                ariaLabelledBy="recursiveLoad"
                [(ngModel)]="projectService.recursive"
              />
              <small>
                <label for="recursiveLoad" id="recursiveLoad"
                  >Recursive loading</label
                >
              </small>
            </div>
            <div class="flex flex-col gap-2 items-center">
              <p-toggleswitch
                id="folderAsMultiframes"
                ariaLabelledBy="folderAsMultiframes"
                [(ngModel)]="projectService.folderAsMultiframes"
              />
              <small>
                <label for="folderAsMultiframes" id="folderAsMultiframes"
                  >Folders as multi-frames</label
                >
              </small>
            </div>

            <p-floatLabel>
              <input
                pInputText
                id="fileExtension"
                aria-describedby="fileExtension-help"
                [(ngModel)]="projectService.inputRegex"
              />
              <label for="fileExtension">regex</label>
            </p-floatLabel>
          </div>
        </p-fieldset>

        <p-fieldset legend="Output" [toggleable]="true" [collapsed]="false">
          <div class="flex flex-col gap-2 items-center mt-4">
            <p-floatLabel class="w-full">
              <input
                pInputText
                id="outputPath"
                aria-describedby="outputPath-help"
                [(ngModel)]="projectService.outputFolder"
                class="w-full"
                [class]="{ 'ng-invalid ng-dirty': !isOutputValid }"
              />
              <label for="outputPath">Output path</label>
            </p-floatLabel>

            <p-button (click)="openOutputFolder()">Choose folder</p-button>
          </div>
        </p-fieldset>
      </div>
    </p-panel>
  </div>

  <p-panel
    header="Advanced settings"
    class="flex flex-col items-stretch"
    class="max-w-sm"
  >
    <div>
      <p-fieldset
        legend="Advanced options"
        [toggleable]="true"
        [collapsed]="false"
      >
        <div class="flex flex-col gap-2 items-center">
          <p-toggleswitch
            id="generateThumbnails"
            ariaLabelledBy="generateThumbnails"
            [(ngModel)]="projectService.generateThumbnails"
          />
          <small>
            <label for="generateThumbnails" id="generateThumbnails"
              >Create thumbnails</label
            >
          </small>
          <div class="flex flex-col gap-2 items-center">
            <p-toggleswitch
              id="autoResizeImages"
              ariaLabelledBy="autoResizeImages"
              [(ngModel)]="editorService.autoResize"
            />
            <small>
              <label for="autoResizeImages" id="autoResizeImages"
                >Optimize performances by resizing the canvas to a maximum
                dimension along either axis.</label
              ></small
            >
            <p-selectbutton
              *ngIf="editorService.autoResize"
              [options]="defaultPotentialSizes"
              [(ngModel)]="editorService.maxDimension"
              optionLabel="justify"
              optionLabel="name"
              optionValue="value"
            >
            </p-selectbutton>
            <small
              >Image ratio is preserved and exported labels are resized to the
              original size</small
            >
          </div>
        </div>
      </p-fieldset>
    </div>
  </p-panel>
</div>

<p-button class="flex justify-center" (click)="startProject()">
  <b>Start</b>
</p-button>
