<div class="card m-auto w-3/4">
    <p-dataview #dv [value]="projectService.imagesName" [layout]="'grid'" [rows]="16" [paginator]="true">
        <ng-template #header>
            <div class="flex justify-end">
                <button pButton type="button" label="Refresh" icon="pi pi-sync" class="p-button-success"
                    (click)="refresh()">

                    <p-knob [(ngModel)]="percentageBeforeRefresh" [size]="15" [valueTemplate]="''" />
                
                </button>
            </div>
        </ng-template>
        <ng-template #grid let-items let-rowIndexValue="rowIndex">
            <div class="gap-4 grid grid-cols-8">
                <div *ngFor="let items of items ; let index = index; let first=first" class="p-2">
                    <app-gallery-element [imageName]="items" [id]="projectService.imagesName.indexOf(items)">
                    </app-gallery-element>
                </div>
            </div>
        </ng-template>

    </p-dataview>
</div>