<div class="flex flex-row gap-4 items-start justify-center">
  <p-panel *ngIf="projectService.isClassification">
    <ng-template #header>
      <b>Batch annotate</b>
    </ng-template>
    <div class="flex flex-col gap-4 justify-center">
      <div
        *ngFor="
          let task of labelsService.listClassificationTasks;
          let i = index
        "
      >
        <h4>{{ task.taskName }}</h4>
        <p-selectButton
          #batchChoices
          [options]="task.classLabels"
          [size]="'small'"
        ></p-selectButton>
      </div>
      <button
        pButton
        type="button"
        label="Apply to selected"
        (click)="annotateBatch()"
      ></button>
    </div>
  </p-panel>

  <p-dataview
    #dv
    [value]="items"
    [layout]="'grid'"
    [rows]="32"
    [paginator]="true"
    [showJumpToPageDropdown]="true"
    filterBy="status,title"
    [paginatorPosition]="'both'"
  >
    <ng-template #header>
      <div class="flex gap-8 items-center justify-end">
        <p class="flex flex-row gap-4 items-center justify-center mr-auto">
          <app-labelled-switch
            [(checked)]="batchAnnotate"
            *ngIf="projectService.isClassification"
          >
            Batch annotate</app-labelled-switch
          >
          <button
            *ngIf="projectService.isClassification"
            pButton
            type="button"
            label="Deselect all"
            (click)="deselectAll()"
          ></button>

          <p-slider
            [(ngModel)]="imgSize"
            [min]="64"
            [max]="400"
            styleClass="w-56"
          />
        </p>
        <app-labelled-switch [(checked)]="showAdvancedFilters">
          Advanced filters</app-labelled-switch
        >

        <input
          type="search"
          pInputText
          placeholder="Filter by Name"
          [(ngModel)]="filterTitle"
          (input)="addTitleFilter()"
        />
        <p-selectbutton
          [options]="filterOptions"
          optionLabel="label"
          [ngModel]="filterOptions[0]"
          (onChange)="toggleFilter($event.value)"
        ></p-selectbutton>

        <app-labelled-switch
          [(checked)]="autoRefresh"
          (checkedChange)="setupAutoRefresh()"
        >
          Auto-refresh</app-labelled-switch
        >

        <button
          pButton
          type="button"
          label="Refresh"
          icon="pi pi-sync"
          class="p-button-success"
          (click)="refresh()"
        >
          <p-knob
            *ngIf="autoRefresh"
            [(ngModel)]="percentageBeforeRefresh"
            [size]="15"
            [valueTemplate]="''"
          />
        </button>
      </div>
    </ng-template>
    <ng-template #grid let-items let-rowIndexValue="rowIndex">
      <div
        class="flex flex-row flex-wrap gap-2 justify-left max-h-[70vh] overflow-y-scroll"
      >
        <div
          *ngFor="
            let item of items as GalleryItem;
            let index = index;
            let first = first
          "
          [style.width.px]="imgSize"
        >
          <app-gallery-element
            [imageName]="item.src"
            [status]="item.status"
            [selected]="
              selectedItems.includes(
                projectService.imagesName.indexOf(item.title)
              )
            "
            (thumbnailSelected)="handleSelect($event)"
            [id]="projectService.imagesName.indexOf(item.title)"
            [imgSize]="imgSize"
          >
          </app-gallery-element>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>
