<div class="flex flex-col gap-4 items-center">
  <div *ngFor="let label of labelService.listTextLabels; let i = index">
    <div class="flex flex-row gap-4 items-center">
      <label [for]="label.name">Task {{i}}:</label>
      <input pInputText [id]="label.name" [(ngModel)]="label.name" />
      <p-button
        icon="pi pi-times"
        [rounded]="true"
        [text]="true"
        severity="danger"
        (click)="removeTextLabel(label)"
      ></p-button>
    </div>
  </div>
  <p-button
      label="Add text description task"
      (click)="addNewTextDescriptionTask()"
    ></p-button>
</div>
