<p-card
  (dblclick)="openEditor()"
  [ngClass]="{ panel_selected: true }"
  (click)="select($event)"
  [class]="getCardStyleClass()"
>
  <ng-template #title
    ><p class="text-center">
      <b>
        {{ id }}
      </b>
      {{ getImageName() }}
    </p>
  </ng-template>
  <div
    class="align-middle flex flex-col hover:brightness-125 hover:contrast-75 hover:scale-110 items-center justify-center rounded-md"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    [ngClass]="{
      annotated: this.status == 'annotated',
      reviewed: this.status == 'reviewed',
      unannotated: !(this.status == 'annotated' || this.status == 'reviewed')
    }"
  >
    @if(img.length > 1){
    <div class="stacked">
      <img
        class="aspect-auto border border-gray-200 rounded-md shadow-sm"
        [class.fade-anim]="isFading"
        [src]="imagePath"
        [width]="imgSize"
      />
      <span class="img-count"> +{{ img.length }} </span>
    </div>
    } @if(img.length === 1){
    <img [src]="imagePath" [width]="imgSize" />
    } @if(projectService.isClassification){ @for(task of
    labelsService.listClassificationTasks; track task.taskName){
    @if(classificationService.multiclassChoices.get(getImageName())![$index]){
    <small>
      <b>{{ task.taskName }}: </b>
      {{ classificationService.multiclassChoices.get(getImageName())![$index] }}
    </small>
    } } }
  </div>
</p-card>
