<p-card
  (dblclick)="openEditor()"
  [ngClass]="{ panel_selected: true }"
  (click)="select($event)"
  [styleClass]="getCardStyleClass()"
>

  <div class="align-middle flex justify-center m-1" >
    <div
    class="stacked"
    *ngIf="img.length > 1"
    [ngStyle]="getStyle()"
  >
    <img
      class="aspect-auto flex flex-col hover:brightness-150 hover:contrast-75 hover:scale-110 rounded-md"
      [src]="imagePath"
      [width]="imgSize"
    />
  </div>
  <img
    *ngIf="img.length === 1"
    class="aspect-auto flex flex-col hover:brightness-150 hover:contrast-75 hover:scale-110 rounded-md"
    [ngStyle]="getStyle()"
    [src]="imagePath"
    [width]="imgSize"
  />
  </div>
  <p class="text-center">
    <b>
      {{ id }}
    </b>
    {{ getImageName() }}
  </p>
  <div *ngIf="projectService.isClassification">
    <ng-container
      *ngFor="let task of labelsService.listClassificationTasks; let i = index"
    >
      <small *ngIf="classificatorService.multiclassChoices.get(getImageName())![i]">
        <b>{{ task.taskName }}: </b>
        {{ classificatorService.multiclassChoices.get(getImageName())![i] }}
      </small>
    </ng-container>
  </div>
</p-card>
