@use "assets/css/variables" as *;
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;
}


html,
body {
    height: 100vh;
    width: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    --toolbar-height: 5rem;
}


.p-colorpicker-panel .p-colorpicker-color {
	background: transparent url("assets/imgs/black_white_gradient.png") no-repeat left top
}


.p-colorpicker-panel .p-colorpicker-hue {
	background: transparent url("assets/imgs/hue_gradient.png") no-repeat left top !important;
}

.p-tree{
    padding: 0;
    border: none;
}

.p-fieldset-content{
    padding: 0;
}

.p-panel-content{
    padding: .5rem;
}

.p-toolbar{
    padding: 0rem 1rem;
    height: var(--toolbar-height);
}

.darkTheme{
    
}