
<p-dialog header="Downloading Resources" [(visible)]="displayDownloadDialog" [modal]="true" [closable]="false" [dismissableMask]="false">
  <p-progressbar [value]="downloadProgress" />
</p-dialog>

<app-toolbar></app-toolbar>

<div
  class="editor flex gap-8 justify-around relative w-full"
  (mousemove)="updateMousePosition($event)"
>
  <app-quick-access-menu #quickAccessMenu> </app-quick-access-menu>
  @if(projectService.isSegmentation || projectService.isInstanceSegmentation ||
  projectService.isClassification || projectService.hasTextDescription){
  <app-labels class="max-w-128"></app-labels>
  }
  <app-drawable-canvas class="overflow-hidden w-full"></app-drawable-canvas>

  <div class="flex flex-col gap-4 min-w-96 overflow-y-auto">
    <app-tool-setting></app-tool-setting>
    <app-multi-frames-options
      (changeOfFrame)="changedOfFrame($event)"
    ></app-multi-frames-options>
    <p-panel header="Save" class="w-96">
      <p class="flex justify-center">
        <p-button (onClick)="loadPrevious()">Previous</p-button>
        <p-button (onClick)="save()" pTooltip="Ctrl+S">Save</p-button>
        <p-button (onClick)="loadNext()">Next</p-button>
      </p>
    </p-panel>
  </div>
</div>

<div class="-translate-x-1/2 bottom-0 fixed left-1/2 w-5/6">
  <p-metergroup [value]="getCurrentProgress()"> </p-metergroup>
</div>
